.jumbotron {
    background-color:#fff5ee;
}
.title {
    font-size: 4.0em;
    font-family: 'Cormorant Infant', serif;
}


@media only screen and (max-width: 500px) {
    .title {
        font-size:3.0em;
    }
}